* {
    box-sizing: border-box;
}

body {
    background-color: beige;
    margin: 0
}

h1 {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboard {
    width: 600px;
    height: 600px;
    border: 1px solid black
}

.cell {
    color: red;
    border: 1px solid black;
    display: inline-block;
}

.skeleton {
    background-color: red;
}