* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: red;
    margin: 0
}

h1 {
    display: flex;
    justify-content: center;
}

main {
    /* width: 270px; */
}

#theSky {
    height: 135px;
    background-color: white;
    /* display: flex;
    justify-content: center; */
}

#gameboard {
    /* width: 600px;
    height: 600px; */
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    border: 1px solid #C38FC5    ;
    /* column-gap: 0px; */
}

.cell {
    border: 1px solid #C38FC5    ;
    background-color: #4C7555;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 25px;
    /* gap: 0 0; */
    /* font-size: 0;   */
}

.tombstone {
    background-color: yellow;
}

.revealed {
    background-color: #1C4525;
}

.revealed.skeleton {
    background-color: red;
}

