* {
    box-sizing: border-box;
}

body {
    background-color: beige;
    margin: 0
}

h1 {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboard {
    /* width: 600px;
    height: 600px; */
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    /* column-gap: 0px; */
}

.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 25px;
    /* gap: 0 0; */
    /* font-size: 0;   */
}

.revealed {
    background-color: darkkhaki;
    color: black;
}

.revealed.skeleton {
    background-color: red;
}